// composition_related_styles/_header.scss
.header {
  position: relative;
  padding: var(--spacing-lg) 0;
  background-color: var(--color-background);

  .container {
    display: grid;
    gap: var(--spacing-md);
    text-align: center;

    @media (min-width: 768px) {
      grid-template-columns: 1fr auto;
      text-align: left;
    }
  }

  &__title {
    font-size: var(--font-size-xxl);
    color: var(--color-primary);
    margin: 0;
  }

  &__subtitle {
    font-size: var(--font-size-lg);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-md);
  }
}